@use '../../../styles/mixins';

.list {
  margin-top: 30px;
  height: 360px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  overflow-y: scroll;

  @include mixins.mq(tablet) {
    width: 610px;
    gap: 15px;
    height: 360px;
  }

  @include mixins.mq(desktop) {
    height: 360px;
    margin-top: 40px;
  }
}
