
.productForm {
  @media (min-width: 768px) {
    display: flex;
    gap: 22px;
    margin: 60px 0;
  }

}
  
.productNameInp {
  display: block;
  width: 100%;
  padding-bottom: 5px;
  margin-top: 80px;

  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;

  color: #264061;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: nome;
  border-radius: 4px;

  @media (min-width: 768px) {
    margin: 0;
    width: 240px;
  }
  ::placeholder {
    color: #9b9faa;
  }

}

.errorOutline {
  outline: 3px ridge rgba(255, 99, 71, 0.8);
}

  
.productWeightInp {
  display: block;
  width: 100%;
  padding-bottom: 5px;
  margin-top: 32px;

  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;

  color:#264061;
  background-color: transparent;

  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;

  @media (min-width: 768px) {
    margin: 0;
    max-width: 105px;
  }

  ::placeholder {
    color: #9b9faa;
    @media (min-width: 768px) {
      text-align: end;
    }
  }

}
  

.tabletBtn {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
  

.mobileBtn {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}
 .productAddBtn {
  display: block;
  width: 176px;
  height: 44px;
  padding: 13px 46px;
  margin: 60px auto 0;

  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;

  color: #ffffff;

  background: #fc842d;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
  border: none;

  :disabled {
    background-color: rgba(255, 99, 71, 0.8);
    opacity: 0.5;
    border: none;
    box-shadow: none;
  }
 }
  
