.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  text-align: center;
}

.title {
  color: var(--main-color);
  text-align: center;
  margin: 20px 0 50px 0;
  display: inline-flex;
  align-items: center;

}

.list {
  margin: -10px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  margin: 20px 45px;
  width: 150px;
}

.text {
  color: rgb(215, 139, 6);
  padding: 10px 0 10px 10px;
}

.devName {
  color: var(--main-color);
  padding: 10px 5px 5px 5px;
  font-weight: bold;
}



