.backgroundHome,
.backgroundAuth,
.backgroundDiaryCalc {
  min-height: 100vh;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .backgroundHome {
    background: url(../../assets/png/backgroundTab_x1.png) no-repeat 100% 100%;
    background-size: 768px 563px;
  }
  .backgroundAuth {
    background: url(../../assets/png/backgroundTabAuth_x1.png) no-repeat 100% 100%;
    background-size: 752px 944px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .backgroundHome {
      background-image: url(../../assets/png/backgroundTab_x2.png);
    }
    .backgroundAuth {
      background: url(../../assets/png/backgroundTabAuth_x2.png) no-repeat 100% 100%;
    }
  }
}

@media screen and (min-width: 1280px) {
  .backgroundHome {
    background-image: url(../../assets/png/backgroundAuthDeskTop_x1.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .backgroundDiaryCalc {
    background-image: url(../../assets/png/backgroundDiaryCalcDeskTop_x1.png),
      linear-gradient(to right, var(--bg-color) 59.6%, var(--scroll-color) 59.6%);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: contain, 100% 100%;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    /* .backgroundHome {
      background-image: url(../../assets/png/backgroundAuthDeskTop_x2.png);
    } */
    .backgroundHome {
      background-image: url(../../assets/png/backgroundAuthDeskTop_x2.png);
    }
    .backgroundDiaryCalc {
      background-image: url(../../assets/png/backgroundDiaryCalcDeskTop_x2.png),
        linear-gradient(to right, var(--bg-color) 59.6%, var(--scroll-color) 59.6%);
    }
  }
}

/* .leafContainer {
  position: absolute;
  
  z-index: 15;
  overflow: hidden;
} */

.leaf {
  position: absolute;
  background-size: 100%;
  z-index: 15;
  overflow:none;
  top: 0;
  left: 50;
  width: 100%;
  height: 100%;
}

.leaf-first {
  @extend .leaf;
  right: 60vw;
  width: 25px;
  height: 45px;
  background: url('../../assets/png/leaf-1.png') no-repeat;
  offset-path: path('M10,100 C40,260 60,260 90,100');
  offset-rotate: 200deg;
  animation: bgAnimation 15s infinite alternate ease-in-out;
}

.leaf-second {
  @extend .leaf;
  top: 150px;
  right: 50vw;
  width: 36px;
  height: 50px;
  background: url('../../assets/png/leaf-2.png') no-repeat;
  offset-path: path('M0,0 C40,160 60,160 100,0');
  offset-rotate: 270deg;
  animation: bgAnimation 22s infinite alternate ease-in-out;
}

.leaf-third {
  @extend .leaf;
  top:300px;
  right: 50vw;
  width: 60px;
  height: 60px;
  background: url('../../assets/png/leaf-3.png') no-repeat;
  offset-path: path('M0,0 C40,160 160,160 100,0');
  offset-rotate: 0deg;
  animation: bgAnimation 35s infinite alternate ease-in-out;
}

.leaf-fourth {
  @extend .leaf;
  top: 415px;
  right: 88vw;
  width: 56px;
  height: 70px;
  background: url('../../assets/png/leaf-4.png') no-repeat;
  offset-path: path('M0,0 C70,120 50,100 200,0');
  offset-rotate: 248deg;
  animation: bgAnimation 30s infinite alternate ease-in-out;
}

@keyframes bgAnimation {
  0% {

    offset-distance: 25%;
  }
  100% {

    offset-distance: 75%;
  }
}
